### Loading the saved model

In [109]:
import pandas as pd
from joblib import load

In [110]:
class CarPredictionModel():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        seld.rmse = rmse

In [111]:
model_v1 = load("cars.pkl")

In [112]:
model_v1.model

LinearRegression()

In [113]:
model_v1.rmse

1.287918529051147

In [114]:
model_v1.features

['KM_Driven',
 'Seats',
 'mileage_new',
 'engine_new',
 'power_new',
 'age',
 'Fuel_Type_Diesel',
 'Fuel_Type_Petrol',
 'Transmission_Automatic',
 'Transmission_Manual',
 'Owner_Type_First',
 'Owner_Type_Second',
 'Owner_Type_Third',
 'make_audi',
 'make_bmw',
 'make_chevrolet',
 'make_datsun',
 'make_fiat',
 'make_force',
 'make_ford',
 'make_honda',
 'make_hyundai',
 'make_isuzu',
 'make_jaguar',
 'make_jeep',
 'make_land',
 'make_mahindra',
 'make_maruti',
 'make_mercedes-benz',
 'make_mini',
 'make_mitsubishi',
 'make_nissan',
 'make_porsche',
 'make_renault',
 'make_skoda',
 'make_tata',
 'make_toyota',
 'make_volkswagen',
 'make_volvo',
 'Location_Ahmedabad',
 'Location_Bangalore',
 'Location_Chennai',
 'Location_Coimbatore',
 'Location_Delhi',
 'Location_Hyderabad',
 'Location_Jaipur',
 'Location_Kochi',
 'Location_Kolkata',
 'Location_Mumbai',
 'Location_Pune',
 'model_1',
 'model_3',
 'model_5',
 'model_7',
 'model_800',
 'model_a',
 'model_a-star',
 'model_a3',
 'model_a4',
 'model_a6',
 'model_accent',
 'model_accord',
 'model_alto',
 'model_amaze',
 'model_ameo',
 'model_aspire',
 'model_aveo',
 'model_avventura',
 'model_b',
 'model_baleno',
 'model_beat',
 'model_bolero',
 'model_bolt',
 'model_br-v',
 'model_brio',
 'model_brv',
 'model_camry',
 'model_captur',
 'model_cayenne',
 'model_celerio',
 'model_ciaz',
 'model_city',
 'model_civic',
 'model_classic',
 'model_compass',
 'model_cooper',
 'model_corolla',
 'model_cr-v',
 'model_creta',
 'model_crosspolo',
 'model_cruze',
 'model_d-max',
 'model_duster',
 'model_dzire',
 'model_e-class',
 'model_ecosport',
 'model_eeco',
 'model_elantra',
 'model_elite',
 'model_endeavour',
 'model_enjoy',
 'model_eon',
 'model_ertiga',
 'model_etios',
 'model_fabia',
 'model_fiesta',
 'model_figo',
 'model_fluence',
 'model_fortuner',
 'model_freestyle',
 'model_gla',
 'model_go',
 'model_grand',
 'model_grande',
 'model_hexa',
 'model_i10',
 'model_i20',
 'model_ignis',
 'model_indica',
 'model_indigo',
 'model_innova',
 'model_jazz',
 'model_jetta',
 'model_koleos',
 'model_kuv',
 'model_kwid',
 'model_laura',
 'model_linea',
 'model_lodgy',
 'model_logan',
 'model_m-class',
 'model_manza',
 'model_micra',
 'model_mobilio',
 'model_nano',
 'model_new',
 'model_nexon',
 'model_nuvosport',
 'model_octavia',
 'model_omni',
 'model_one',
 'model_optra',
 'model_pajero',
 'model_passat',
 'model_polo',
 'model_pulse',
 'model_q3',
 'model_q5',
 'model_quanto',
 'model_r-class',
 'model_rapid',
 'model_redi',
 'model_redi-go',
 'model_ritz',
 'model_rover',
 'model_s',
 'model_s-cross',
 'model_s60',
 'model_safari',
 'model_sail',
 'model_santa',
 'model_santro',
 'model_scala',
 'model_scorpio',
 'model_sonata',
 'model_spark',
 'model_ssangyong',
 'model_sumo',
 'model_sunny',
 'model_superb',
 'model_swift',
 'model_sx4',
 'model_tavera',
 'model_teana',
 'model_terrano',
 'model_thar',
 'model_tiago',
 'model_tigor',
 'model_tucson',
 'model_tuv',
 'model_v40',
 'model_vento',
 'model_venture',
 'model_verito',
 'model_verna',
 'model_vitara',
 'model_wagon',
 'model_wr-v',
 'model_wrv',
 'model_x-trail',
 'model_x1',
 'model_x3',
 'model_xc60',
 'model_xcent',
 'model_xenon',
 'model_xf',
 'model_xuv300',
 'model_xuv500',
 'model_xylo',
 'model_yeti',
 'model_zen',
 'model_zest']

### Preparing the record for the new used-car for sale

In [121]:
car_dict = {'age': 4, 
            'KM_Driven' : 5, 
            'Fuel_Type_Petrol' : 1,
            'Transmission_Manual': 1, 
            'Owner_Type_First': 1, 
            'Seats' : 5,
            'make_maruti': 1,
            'model_ertiga': 1,
            'Location_Delhi': 1,
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90
            }

In [122]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [123]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [124]:
df = pd.DataFrame(my_car, index = [0])

In [125]:
df

,KM_Driven,Seats,mileage_new,engine_new,power_new,age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,...,model_xc60,model_xcent,model_xenon,model_xf,model_xuv300,model_xuv500,model_xylo,model_yeti,model_zen,model_zest
0,5,5,16,1000,90,4,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

### Predicting the price of the used car

In [126]:
model_v1.model.predict(df)

array([7.31282699])